body{
	font-family: arial, sans-serif;
	font-size: 16px;
	line-height: 1.3;
	margin: 0;
	background: #fff;
	min-width: 998px
}
header{
	background: #373c3f;
	padding: 20px 0;
}
.container{
	width: 998px;
	margin: 0 auto;
}
.menu{
	margin-left: 80px;
}
.menu a{
	color: #fff;
	margin-right: 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
}
.promo{
	background: #16b1c4;
	padding: 100px 100px 100px 80px;
}
.promo h1{
	color: #fff;
	font-size: 60px;
	line-height: 65px;
	font-weight: normal;
}
.promo a{
	color: rgba(225,225,225,0.5);
	font-size: 34px;
	text-decoration: none;
}
.robin{
	background: #bc3183;
}
.cover{
	background: #27212c;
	color: #9282a0;
	font-size: 30px;
	width: 70%;
	padding: 50px;
}
img{
	display: block;
}
.info-block{
	padding: 30px 40px 40px 40px;
	background: #ebebeb
}
.info-block h3{
	margin: 0;
	color: #088ca5;
	font-size: 30px;
	font-weight: normal;
}
.info-block p{
	margin: 30px 0;
	font-size: 24px;
	line-height: 36px;
	color: #515151
}
footer{
	background: #373c3f;
	color: #eee;
	font-size: 16px;
}
footer .container{
	padding: 30px 50px;
	box-sizing: border-box;
}
footer a{
	color: #eee;
	font-size: 16px;
	text-decoration: none;
}
